@model Models.CategoryModels.CategoryDetail
@using Services
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>CategoryDetail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryDiscription)
        </dt>

        <dd>
            @try
            {
                @Html.Post25(Model.CategoryDiscription)
            }
            catch
            {
                @Html.DisplayNameFor(model => model.CategoryDiscription)
            }
          
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
