@model IEnumerable<Models.CategoryModels.CategoryDetail>

@{
    ViewBag.Title = "Category";
}
    <style>
        body {
            background-color: #2e2e2d;
            color: #28a745;
            padding: 0;
        }

        .wrapper {
            margin-top: 3rem;
            margin-bottom: 5rem;
            border: .2rem ridge black;
            background-color: #1c1c1b;
            border-radius: 10px;
        }

        td {
            color: #28a745;
            border-top: 1px solid #2e2e2c;
            padding: 1rem;
        }

        th {
            color: #29b348;
            border-top: none !important;
            padding-bottom: .5rem;
        }

        #listItem {
            font-size: .9rem;
            margin-right: .5rem;
        }

        h2 {
            padding-left: 1rem;
            padding-top: 0;
            margin-bottom: 1rem;
            margin-top: 1rem!important;
        }

        .links {
            text-align: center;
        }
    </style>
<div class="wrapper">
    <h2 style="margin-top:3rem">All Categories</h2>
    <table class="table-responsive-xl">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th class="links">
                    @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-success"})
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @try
                    {
                        @item.CategoryDescription.Substring(0, 10)
                    }
                    catch
                    {
                        @Html.DisplayFor(modelItem => item.CategoryDescription)

                    }
                </td>
                <td>
                    <div class="d-inline-flex">
                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, htmlAttributes: new { @class = "btn btn-outline-success", id = "listItem" })
                        @Html.ActionLink("Details", "Detail", new { id = item.CategoryId }, htmlAttributes: new { @class = "btn btn-outline-success", id = "listItem" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, htmlAttributes: new { @class = "btn btn-outline-success", id = "listItem" })
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

@if (TempData.ContainsKey("SaveResult"))
{

    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
