@model List<Object>
@{
    ViewBag.Title = "View";
}

<h2>View</h2>


<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("My Profile", "Index", "Profile")
</p>
@*<tr>
        <th>
            @Html.DisplayNameFor(model => )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExampleCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExampleDiscription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedPost)
        </th>
        <th></th>
    </tr>*@

@foreach (var result in Model)
{
    foreach (var items in result as IEnumerable<object>)
    {



        if (items is Models.CategoryModels.CategoryDetail categoryDetail)
        {

            <table>

                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => categoryDetail.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => categoryDetail.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => categoryDetail.CategoryDiscription)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = categoryDetail.CategoryId }) |
                        @Html.ActionLink("Details", "Details", new { id = categoryDetail.CategoryId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = categoryDetail.CategoryId })
                    </td>
                </tr>
            </table>
        }
        if (items is Models.CodeExampleModels.ExampleDetail exampleDetail)
        {

            <table>

                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => exampleDetail.CodeExampleId)
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => exampleDetail.ProfileId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exampleDetail.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exampleDetail.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exampleDetail.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exampleDetail.ExampleDiscription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exampleDetail.InitialPost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exampleDetail.EditedPost)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = exampleDetail.CodeExampleId }) |
                        @Html.ActionLink("Details", "Details", new { id = exampleDetail.CodeExampleId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = exampleDetail.CodeExampleId })
                    </td>
                </tr>
            </table>
        }
        if (items is Models.ProfileModels.ProfileDetail profileDetail)
        {
            <table>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => profileDetail.ProfileId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => profileDetail.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = profileDetail.ProfileId }) |
                        @Html.ActionLink("Details", "Details", new { id = profileDetail.ProfileId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = profileDetail.ProfileId })
                    </td>
                </tr>
            </table>
        }
    }
}

<!--
</table>
    -->
