@model Models.CodeExampleModels.ExampleCreate

@{
    ViewBag.Title = "Create";
}
<style>
    body {
        background-color: #2e2e2d;
        color: #28a745;
        padding: 0;
    }

    .form-horizontal {
        margin-top: 3rem;
        margin-bottom: 5rem;
        background-color: #1c1c1b;
        border-radius: 10px;
        border: .2rem ridge black;
    }

    label {
        color: #29b348;
    }

    .footerLink {
        padding-bottom: 1rem;
        margin-left: 1rem;
    }

    .btn-outline-success {
        width: 5rem;
    }

    h4 {
        margin-top: 1rem;
        margin-left: 1rem;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Post your own code!</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.CodeExampleId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HiddenFor(model => model.ProfileId, new { htmlAttributes = new { @class = "form-control" } })

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExampleCode, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ExampleCode, 10, 55, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExampleCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExampleDescription, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ExampleDescription, 10, 55, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExampleDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.TimeStamp, new { htmlAttributes = new { @class = "form-control" } })


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to My Library", "UserCode", routeValues: null, htmlAttributes: new { @class = "nav-link" })
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
