@model Models.CodeExampleModels.ExampleDetail

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4 style=" margin-top:40px">Are you sure you want to Delete the post!?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExampleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExampleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExampleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExampleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedPost)
        </dd>

    </dl>
    @using (Html.BeginForm())
     {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-info" /> |
            @Html.ActionLink("Edit", "Edit", new { id = Model.CodeExampleId }) |
            @Html.ActionLink("Back to List", "Index") 
        </div>
     }
</div>
