@model Models.CodeExampleModels.ExampleDetail

@{
    ViewBag.Title = Model.Title;
}
<style>
    body {
        background-color: #2e2e2d;
        color: #28a745;
        padding: 0;
    }

    dt {
        color: #29b348;
        font-size: 1.3rem;
    }

    h3 {
        color: #29b348;
        margin-left: 1rem;
    }

    .wrapper {
        margin-top: 3rem;
        margin-bottom: 5rem;
        border: .2rem ridge black;
        background-color: #1c1c1b;
        border-radius: 10px;
    }

    .dl-horizontal {
        margin-left: 1rem;
    }
    .footerLinks{
        padding-top: .5rem;
        padding-left: 1rem;
        padding-bottom: .5rem;
    }
</style>
<div class=" wrapper">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExampleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExampleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExampleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExampleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedPost)
        </dd>

    </dl>
    @if (Model.ProfileId == (string)Session["UserId"])
    {
        <p class="footerLinks">
            @Html.ActionLink("Edit", "Edit", new { id = Model.CodeExampleId }, htmlAttributes: new { @class = "btn btn-outline-success" })
            @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-outline-success" })
        </p>
    }
    else
    {
        <p class=" footerLinks">
            @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-outline-success" })
        </p>

    }
</div>



