@model Models.CodeExampleModels.ExampleDetail

@{
    ViewBag.Title = Model.Title;
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExampleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExampleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExampleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExampleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedPost)
        </dd>

    </dl>
</div>


@if (Model.ProfileId == (string)Session["UserId"])
{
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodeExampleId }) |
    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
</p>
}
else
{
    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })

}

