@model Models.CodeExampleModels.ExampleDetail

@{
    ViewBag.Title = Model.Title;
}

<h2>Details</h2>

<div>
    <h4>ExampleDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExampleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExampleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExampleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExampleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedPost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
