@model Models.CodeExampleModels.ExampleUpdate

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Update Your Post!</h4>
    <hr />

    @Html.HiddenFor(model => model.ProfileId)
    @Html.HiddenFor(model => model.CodeExampleId)
    @Html.HiddenFor(model => model.UserName)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })   

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ExampleCode, htmlAttributes: new { @class = "control-label col-md-10" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ExampleCode, 10, 55, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ExampleCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="width:100%; width:100%">
        @Html.LabelFor(model => model.ExampleDescription, htmlAttributes: new { @class = "control-label col-md-10" })
        <div class="col-md-10" style="width:100%">
            @Html.TextAreaFor(model => model.ExampleDescription, 10, 55, new { htmlAttributes = new { @class = "col-md-10", style = "width: 100%" }})
            @Html.ValidationMessageFor(model => model.ExampleDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@if (TempData.ContainsKey("Er"))
{

    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["ErrorResult"]
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
