@model IEnumerable<Models.CodeExampleModels.ExampleDetail>

@{
    ViewBag.Title = "Index";
}
    <style>
        body {
            background-color: #2e2e2d;
            color: #28a745;
            padding: 0;
        }

        .wrapper {
            margin-top: 3rem;
            margin-bottom: 5rem;
            border: .2rem ridge black;
            background-color: #1c1c1b;
            border-radius: 10px;
        }

        td {
            color: #28a745;
            border-top: 1px solid #2e2e2c;
            padding: 1rem;
        }

        th {
            color: #29b348;
            border-top: none !important;
            padding-bottom: .5rem;
        }

        #listItem {
            font-size: .9rem;
            margin-right: .5rem;
        }

        h2 {
            padding-left: 1rem;
            padding-top: .5rem;
            margin-bottom: 1rem;
        }
    </style>
<div class="wrapper">

    <h2>The code library</h2>
    <table class="table-responsive-xl">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExampleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExampleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedPost)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.CodeExampleId)
                <td>
                    @Html.HiddenFor(modelItem => item.ProfileId)
                    @Html.DisplayFor(modelitem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.CategoryId)
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExampleCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExampleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialPost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditedPost)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.CodeExampleId }, htmlAttributes: new { @class = "btn btn-outline-success", id ="listItem"})
                </td>
            </tr>
        }

    </table>
</div>

@if (TempData.ContainsKey("SaveResult"))
{

    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
