@model IEnumerable<Models.CodeExampleModels.ExampleDetail>

@{
    ViewBag.Title = "UserCode";
}

<h2>Your Posted Code</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExampleCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExampleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedPost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExampleCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExampleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedPost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.CodeExampleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodeExampleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodeExampleId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
